@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ruda:wght@400..900&display=swap');
/* ========================= RESET ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #f0dfdf;
    padding-bottom: 150px;
    overflow-x: hidden;
}
/* ========================= HEADER ========================= */

.header {
    background-color: #005BB5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 78px;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.navbar {
    width: 100%;
    height: 5rem;
    background: #005BB5;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

/* Ícone hambúrguer */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 3rem;
}

.hamburger span {
    width: 22px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}

/* Botão de perfil */
.perfil-btn {
    background: none;
    border: none;
    margin-right: 2rem;
    cursor: pointer;
    padding: 3rem;
}

.perfil-btn span{
    color: white;
    width: 3rem;
    height: 38px;
    border-radius: 0%;
}
.perfil-btn p{
    color: white;
}

/* Área de pesquisa */
.search-area {
    flex: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.search-area input {
    padding: 1rem;
    width: 80%; /* diminui o tamanho */
    height: 1rem; /* opcional */
    padding-right: 5rem;
    border-radius: 2rem;
    border: 10rem;
    outline: none;
    font-size: 1rem;
}

/* Botão da lupa */
.search-btn {
    position: relative;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    right: 2rem;
}

.search-btn img {
    width: 20px;
    height: 20px;
}